Makefile
Makefile.in
config.h
config.h.in
*.o
*.lo
*~
*.la
src/garmin_dump
src/garmin_gchart
src/garmin_get_info
src/garmin_gmap
src/garmin_gpx
src/garmin_save_runs
.libs
.deps
src/stamp-h1
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
config.log
config.status
libtool
ltmain.sh
